*{
  padding: 0;
  margin: 0;
}

.athlete-list{
  width: 90%;
  margin: 20px auto;
}

.table-menu{
  height: 60px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.name-ava{
  display: inline-flex;
  align-items: center;
}

.ava{
  margin-right: 10px;
}

.filter{
  width: 100%;
  
}

.box-fields-athlete{
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.create-btn-athlete{
  margin-left: 60%;
  margin-top: 6%;
  z-index: 0;
}


