*{
  padding: 0;
  margin: 0;
}

.athlete-list{
  width: 90%;
  margin: 20px auto;
}

.table-menu{
  height: 60px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.registration-wrapper{
  width: 70%;
  margin: 30px auto;
}

.name-ava{
  display: inline-flex;
  align-items: center;
}

.ava{
  margin-right: 10px;
}

.filter{
  width: 100%;
  
}



