.workout-wrapper{
  width: 90%;
  margin: 40px auto;
}
.tables{
  width: 100%;
  display: inline-flex;
}
.workout-table{
  width: 100%;
  min-height: 580px;
}
.rbc-timeslot-group {
  height: 60px;
}
/*.rbc-current-time-indicator {
  z-index: 1000;
}*/
.add-form-row {
  display: flex;
  justify-content: space-between;
}

.cell { height: 100%; display: flex; flex-direction: column; justify-content: space-around; }
.cell-title { display: flex; justify-content: space-between; }
.cell-name { font-size: 16px; font-weight: bold;  }
.cell-count { font-size: 14px; }
.cell-coach { font-size: 14px; }