@font-face{
  font-family: "SFUIDisplay-Regular";
  src: url(./SFUIDisplay-Regular.otf) format("truetype");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*background-color: #fff;*/
}

.wod-list{
  font-family: 'SFUIDisplay-Regular';
  width: 96%;
  margin: 0 auto;
  min-height: 90vh;
  background-color: #fff;
}

.table-nav{
  width: 100%;
  padding: 5px;
}

.inner-nav{
  width: 96%;
  margin: 2px auto;
}

.week{
  font-size: 17px;
  margin-top: 24px;
  color: #8E8E93;
}

.page-title{
  font-size: 34px;
  line-height: 41px;
}

.add{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.block{
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.label{
  color: #8E8E93;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}